.ccb-container {
  margin-top: 10px;
}

.ccb-title {
  font-size: 80%;
}

.ccb-btn-container {
  width: 30%;
}

.ccb-main-image {
  width: 100%;
  height: auto;
}

.ccb-buttons {
  margin-top: -33px;
}

.ccb-btn {
  width: 100%;
  line-height: 2.2;
  font-size: 90%;
}

.ccb-toggle-container {
  margin-bottom: 30px;
}

.ccb-toggle {
  font-size: 75%;
}