.ccb-btn-container {
  width: 33.3333333%;
}

.ccb-main-image {
  width: auto;
  height: 30vh;
}

.ccb-buttons {
  margin-top: -35px
}

.ccb-btn {
  width: 125px;
  line-height: 2.2;
  font-size: 110%;
}

.ccb-toggle-container {
  margin-bottom: 50px;
}